.root {
    background-color: aliceblue;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
.button {
    display: inline-block;
    background: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}
.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.book.read {
    background: silver;
}
.book {
    flex: 0 1 22%;
    padding: 0 5px 0 5px;
    border-radius: 3%;
    background: rgb(172, 172, 219)
}
.book:hover{
    box-shadow: 5px 5px 10px #9e9e9e;
}

